@use "./globalStyles.scss" as c;

.landingpage {
  background-image: url(../assets/carrousel1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  // width: 100vw;
}

.description {
  height: 85%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 6rem;
  display: grid;
  justify-items: center;
}

.shop {
  @include c.shop();
}
