.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.menu {
  display: flex;
}

.menu li {
  cursor: pointer;
  background-color: tomato;
  margin: 0 5px;
}
